h1{ /* Style h1 */
	font-family: Verdana;
		font-variant: small-caps;
		font-weight: 100;
		font-size: 12vw;
	padding: 0;
	margin: 0;
		margin-bottom: 0.05em;
}

p { /* Style p so das es überall gleich ausschaut */
	font-size: 1.1vw;
	margin-bottom: 1.2em;
	padding: 0;
}

.floatLeft{ /* Klassen wie diese kann man oft wiederverwenden */
	float: left;
	margin-left: 7%;
}

.floatRight{
	float: right;
	margin-right: 7%;
}

body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

#wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#ccc;
	overflow:hidden;
}

	#mask {
		width:700%;
		height:100%;
		background-color:#eee;
	}

	.item {
		width:14.28571428571429%;
		height:100%;
		float:left;
		background-image: url(../images/site/pixel_weave_blau.png);
	}
	
	
	.content {
		width:100%;
		height:100%;
		margin:0 auto;
		position:relative;
	}
	
	.selected {
		background:#fff;
		font-weight:700;
	}

	.clear {
		clear:both;
	}
	
/***************
 * Home
 ***************/
 
	#logo {
		width: 50vw;
		height: 80vh;
	}
	#logofeld {
		width: 50vw;
		margin: 0 auto;
		padding-top: 0%;
	}
	
	#black {
		position: absolute;
		height: 18vh;
		width: 100vw;
		bottom: 2%;
		background-image: url(../images/site/escheresque_ste.png);
		background-repeat: repeat; 
		-webkit-box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
		-moz-box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
		box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
	}
	.form-signin {
		position: relative;
		width: 15em;
		margin: 0 auto;
		padding-top: 1.7em;
	}
	#formheighttext {
		min-height: 2em;
		margin-bottom: 1%;
		background: white url("../images/login/Anmelden_Icon.png") right no-repeat;
	}
	
	#formheightpass{
		min-height: 2em;
		margin-bottom: 1%;
		background: white url("../images/login/Passwort_Icon.png") right no-repeat;
	}
	
	.btn btn-lg btn-primary btn-block{
		height: 2em;
	}

	
/***************
 * Video
 ***************/

.video-js{
	margin-top: 2%;
	margin: 0 auto;
}
	
/***************
 * Vision
 **************/

#item3{
	position: relative;
	text-align: center;
}

#item3 h1{
	text-align: right;
	margin-right: 10%;
	color: rgba(255,255,255,0.25);
	margin-bottom: 1.5%;
}
 
#item3 p{
	width: 80%;
	display: inline-block;
	text-align: left;
}

/***************
 * Client
 ***************/
 
 #auftraggeber{
	margin: 0 auto;
	margin-top: 4%;
 }
 
.clientcontent{
	width: 90%;
	padding: 0.5%;
	margin-bottom: 0.5%;
}
 
.clientcontent p{
	display: block;
	width: 75%;
}
 
.clientcontent img{
	display: inline-block;
}

#firstclient {
	width: 81%;
	padding: 0.5%;
	margin-bottom: 6%;
	margin-left:7%;
	text-align: right;
}

#secondclient {
	width: 87%;
	padding: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 8%;
}

/***************
* Team-1
*/
 
.teamcontent1{
	text-align: right;
}
 
.teamcontent{
	width: 90%;
	margin-top: 2%;
	padding: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 6%;
}

.teamcontent:nth-child(odd) p{
	width: 85%;
	padding: 1.5%;
	margin-bottom: 1%;
	margin-left: 0%;
	text-align:right;
	margin-right: 2%;
}
 
.teamcontent p{
	display: block;
	width: 80%;
}
 
.teamcontent img{
	display: inline-block;
}

/***************
* Team-2
*/
 
.team2content{
	width: 90%;
	margin-top: 2%;
	padding: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 6%;
	margin-top: 5%;
}

.team2content:nth-child(even) p{
	width: 85%;
	padding: 1.5%;
	margin-bottom: 1%;
	margin-left: 0%;
	text-align:right;
	margin-right: 2%;
}
 
.team2content p{
	display: block;
	width: 80%;
}
 
.team2content img{
	display: inline-block;
}


/***************
 * Links
 */

.links h1{
	font-family: Verdana;
		font-variant: small-caps;
		font-weight: 100;
		font-size: 12vw;
	padding: 0;
	margin: 0;
		margin-bottom: 7%;
	margin-right: 5%;
	text-align: right;
	color: rgba(255,255,255,0.25);
}

.links img{
	width: 8%;
	height: 8%;
	margin-left: 6.5%;
	display: inline-block;
}


/***********
Sonstiges
***********/

#leftbox {
		float:right;
		width: 6%;
		height: 80%;
	}

#leftbox img {
	width: 40%;
	height: 6%;
	margin-top: 19.5em;
	margin-left: 2em;
}

#rightbox img {
	width: 40%;
	height: 6%;
	margin-top: 19.5em;
	margin-left: 1.5em;	
}

#item3 #leftbox img {
	width: 40%;
	height: 6%;
	margin-top: 19.5em;
	margin-left: 1em;
}

#item3 #rightbox img {
	width: 40%;
	height: 6%;
	margin-top: 19.5em;
	margin-left: 1em;	
}
	
	#rightbox {
		float:left;
		width: 6%;
		height: 80%;
	}
	
	#rightbox:hover{
		background-color:rgba(0, 0, 0, 0.25);
	}
	
	#leftbox:hover {
		background-color:rgba(0, 0, 0, 0.25);
	}
