/**************
 * Allgemein
 ***********/

body, html{
	height: 100%;
	width: 264.8%; /* keine Ahnung wieso genau diese Zahl .. aber sie funktioniert... fragts nd */
	padding: 0;
	margin: 0;
	overflow-y: hidden; /* keine vertikales scrollen möglich machen */
}

html{ /* Himmel */
	background-image: url(../images/site/pixel_weave_blau.png);
	background-repeat:repeat;
}

section{
	height: 100%;
	width: 14.258%; /* 10 / 7 * 100  = 14.285; das zeigt: bei 7 Slides muss jeder Slides 14.285% sein bei einer breite von 264.8% */
	float: left;
	border-left: 1px solid black;
}

h1{ /* Style h1 */
	font-family: Verdana;
		font-variant: small-caps;
		font-weight: 100;
		font-size: 1500%;
	padding: 0;
	margin: 0;
		margin-bottom: 0.2em;
}

p { /* Style p so das es überall gleich ausschaut */
	font-size: 130%;
	text-align: justify; /* Blocksatz */
	margin: 0;
	padding: 0;
}

.floatLeft{ /* Klassen wie diese kann man oft wiederverwenden */
	float: left;
	margin-right: 3%;
}

.floatRight{
	float: right;
	margin-left: 1%;
}
 
/***************
 * Home
 */

#home{
	position: relative; /* preperation to center img */
	text-align: center; /* center img in container */
}

#home img[alt="Connect You"]{ /* LOGO */
	
	width:50%;
}


.arrow_box {
	position: absolute;
	height: 175px;
	width:100%;
	bottom:20px;
	background-image: url(../images/site/escheresque_ste.png);
	background-repeat: repeat; 
	-webkit-box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
	-moz-box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
	box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
}

.repeat {
	position: relative;
	text-align: center;
	height: 30px;
	width: 30px;
	background-image: url(../images/site/escheresque_ste.png);
	background-repeat: repeat; 
	-webkit-box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
	-moz-box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
	box-shadow: inset 0 20px 20px rgba(1,1,1,.75);
}


/***************
 * Video
 */




/***************
 * Vision
 */

#vision{
	position: relative;
	text-align: center;
	padding-top: 0.3%;
}

#vision h1{
	text-align: right;
	margin-right: 5%;
	color: rgba(255,255,255,0.25);
}
 
#vision p{
	width: 90%;
	display: inline-block;
}

/***************
* Client
*/
#client{
	position: relative;
	text-align: center;
	padding-top: 0.5%;
}
 
#client div{
 	display: inline-block;
 	text-align: justify;
}
 
.clientcontent{
	width: 90%;
	padding: 2%;
	margin-bottom: 3%;
}
 
.clientcontent p{
	display: block;
	width: 75%;
}
 
.clientcontent img{
	display: inline-block;
	width: 20%;
}

/***************
* Team-1
*/
#team-1{
	position: relative;
	text-align: center;
	padding-top: 0.5%;
}
 
#team-1 div{
 	display: inline-block;
 	text-align: justify;
}
 
.teamcontent{
	width: 90%;
	padding: 1.5%;
	margin-bottom: 5%;
}

.teamcontent:nth-child(odd) p{
	width: 85%;
	padding: 1.5%;
	margin-bottom: 1%;
	margin-left: 3%;
}
 
.teamcontent p{
	display: block;
	width: 75%;
}
 
.teamcontent img{
	display: inline-block;
}

/***************
* Team-2
*/
#team-2{
	position: relative;
	text-align: center;
	padding-top: 0.5%;
}
 
#team-2 div{
 	display: inline-block;
 	text-align: justify;
}
 
.team2content{
	width: 90%;
	padding: 1.5%;
	margin-bottom: 7%;
}

.team2content:nth-child(even) p{
	width: 85%;
	padding: 1.5%;
	margin-bottom: 7%;
	margin-left: 3%;
}
 
.team2content p{
	display: block;
	width: 75%;
}
 
.team2content img{
	display: inline-block;
}

/***************
 * Links
 */

#links{
	position: relative;
	text-align: center;
	padding-top: 0.3%;
}

#links h1{
	text-align: right;
	margin-right: 5%;
	color: rgba(255,255,255,0.25);
}
 
#links p{
	width: 90%;
	display: inline-block;
}

#links h1{
	font-family: Verdana;
		font-variant: small-caps;
		font-weight: 100;
		font-size: 1000%;
	padding: 0;
	margin: 0;
		margin-bottom: 0.35em;
	text-align: left;
	margin-left: 5%;
}

#links img{
	margin-right: 5%;
	margin-bottom: 3.5%;
}